/* main datra absen */

#download {
    padding: 5px 5px;
    border-radius: 100%;
    margin-left: 10%;
    margin-top: 60px;
    border: 1px solid #3d5a1ae1;
    background-color: #7cb438c2;
}

table {
    border: 1px solid #3d5a1a71;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
    margin: auto;
}

th, td {
    padding: 20px 40px;
    border: 1px solid #3d5a1a71;
    text-align: center;
}

th {
    color: #3d5a1ae1;
    background-color: #7cb438c2;
}

.hari_absen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.hari_absen h3 {
    margin-right: 770px;
}

.Status-sholat {
    background-color: #7cb438c2;
    border-radius: 20px;
    color: white;
    padding: 5px 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
}

.Status-sholat:hover {
    background-color: #7cb438ea;
    box-shadow: 0 0 15px #7cb438c2;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.Status-izin {
    background-color: #aeb438;
    border-radius: 20px;
    color: white;
    padding: 5px 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
}

.Status-izin:hover {
    background-color: #bec62e;
    box-shadow: 0 0 15px #aeb438;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.Status-alpa {
    background-color: rgba(255, 0, 0, 0.637);
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
}

.Status-alpa:hover {
    background-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.637);
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.main-dashboard {
    margin-bottom: 70px;
}
/* end main daftar absen */
@media (min-width: 50px) {
        .hari_absen h3 {
        width: 200px;
        margin: auto;
    }
        th, td {
        padding: 5px 5px;
    }
}

@media (min-width: 474px) {
    th, td {
        padding: 10px 10px;
    }
}

@media (min-width: 992px) {
    th, td {
        padding: 20px 40px;
    }
}

