* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex-direction: row;
    background-color: white;
}

/* navigasi sticky */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1001;
    background-color: #7cb438;
    box-shadow: -2px 0 20px #7cb438d4;
    display: none;
}

header {
    width: 25%;
    background-color: #7CB438;
    height: 100vh;
    position: sticky;
    top: 0; /* Menempel di bagian atas parent .section */
    z-index: 1;
    overflow-x: hidden;

}

.header {
    padding: 30px 20px;
    background-color: #3D5A1A;
    color: white;
    font-weight: 34px;
    position: absolute;
    z-index: 2000;
}

.header-1 {
    width: 100%;
    padding: 30px 20px;
    background-color: #3D5A1A;
    color: white;
    font-weight: 34px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.botton-menu {
    display: none;
}

.header-2 {
    color: black;
    font-weight: 34px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.a img {
    width: 30px;
    height: 30px;
}

.a {
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 100px 4px;
}

.active {
    background-color: #3d5a1a9a;
    border-radius: 10px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;

}

main {
    width: 100vw;
}

.circle {
    background-color: #7CB438;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.v-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.v-1 p {
    color: #ffffffbc;
}

.menu-1 .a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;

    color: white;
}

.menu .a:hover {
    background-color: #3d5a1a9a;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.menu .a:active {
    background-color: #3d5a1a9a;
    border-radius: 10px;
}

.close {
    height: 50px;
    width: 50px;
}

.close a {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-header {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 4px 4px 4px 4px rgba(55, 55, 55, 0.13);
    filter: blur();
    padding: 20px 20px;
    position: sticky;
    top: 0;
    -webkit-filter: blur();
    z-index: 5;

}

.search input {
    padding: 10px 10px;
    width: 250px;
    background-color: rgba(139, 203, 61, 0.248);
    color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* end navigasi sticky */

/* main dashboard */

.jurusan {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 30px;
}

.jurusan h3 {
    font-size: 25px;
}

.kelas {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.kelas .container-kelas {
    padding: 15px 15px;
    width: 250px;
    height: 100px;
    background-color: #7cb438db;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: rgb(244, 244, 244);
    box-shadow: 0.1px 0.1px 7px 0.1px gray;
}

.kelas .container-kelas:hover {
    background-color: white;
    box-shadow: 3px 5px 20px 3px gray;
    color: #3d5a1a9a;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

.kelas div p {
    font-size: 20px;
    font-weight: bold;
}

.kelas a div h4 {
    font-size: 18px;
}

.a-kelas {
    text-decoration: none;
}

.two-circle:nth-child(1) {
    width: 80px;
    height: 80px;
    background-color: #3d5a1a71;
    z-index: 2;
    bottom: -20px;
    right: -20px;
}

.two-circle {
    position: absolute;
    border-radius: 100%;
    background-color: #3d5a1a9a;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.two-circle:nth-child(2) {
    width: 50px;
    height: 50px;
    background-color: #3d5a1a9a;
    z-index: 3;
    bottom: -18px;
    right: 30px;
}

.container-kelas {
    overflow: hidden;
    position: relative;
}

.search-handphone input {
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px 10px;
    width: 250px;
    background-color: rgba(139, 203, 61, 0.248);
    color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.filter-absen {
    padding: 5px 20px;
}


/* end main dashboard */

/* responsif */
@media (min-width: 50px) {

    .sidebar {
        height: 100vh;
    }
        header {
        display: none;
    }
    .header-2 {
        display: none;
    }
    .botton-menu {
        display: block;
    }

    .search-handphone {
        display: block;
    }
    .search {
        display: none;
    }
    table {
        width:  90%;
        table-layout: fixed;
    }
    td {
        font-size: 12px;
    }

    .sub-judul h2 {
        font-size: 18px;
    }

    .identitas {
        font-size: 14px;
    }
        .hari_absen h3 {
        margin: auto;
    }

    th,td {
        padding: 5px;
    }
    .container-kelas {
            padding: 10px 10px;
    width: 150px;
    height: 50px;
    background-color: #7cb438db;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: rgb(244, 244, 244);
    box-shadow: 0.1px 0.1px 7px 0.1px gray;
    }
}
@media (min-width: 577px) {
    header {
        display: none;
    }
    .botton-menu {
        display: block;
    }

    .search-handphone {
        display: block;
    }
    .search {
        display: none;
    }
        .header-2 {
        display: none;
    }
    table {
        width:  90%;
        table-layout: fixed;
    }
    td {
        font-size: 15px;
    }
        .hari_absen h3  {
        margin: auto;
    }
}

@media (min-width: 768px) {
    .botton-menu {
        display: block;
    }
    .header-2 {
        display: none;
    }
    header {
        display: none;
    }
    .search-handphone {
        display: block;
    }
    .search {
        display: none;
    }
    table {
        width: 80%;
        table-layout: fixed;
    }
    .header-2 {
        display: flex;
    }
    .hari_absen h3 {
        margin: auto;
    }
    .container-kelas {
            padding: 15px 15px;
    width: 200px;
    height: 50px;
    background-color: #7cb438db;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: rgb(244, 244, 244);
    box-shadow: 0.1px 0.1px 7px 0.1px gray;
    }
}

@media (min-width: 992px) {
    .header {
        width: 100%;
    }
    .header-2 {
        display: flex;
    }
    header {
        display: flex;
        height: 100vh;
    }
    .botton-menu {
        display: none;
    }
    .search-handphone {
        display: none;
    }
    .search {
        display: block;
    }
    .header-2 {
        display: flex;
    }
    table {
        width: 90%;
        table-layout: fixed;
    }
    td {
        font-size: 18px;
    }
    .container-kelas {
            padding: 15px 15px;
    width: 250px;
    height: 100px;
    background-color: #7cb438db;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: rgb(244, 244, 244);
    box-shadow: 0.1px 0.1px 7px 0.1px gray;
    }
}

  #loading-widget{
    display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
 
  align-items: center;
  justify-content: center;
  }

  .loading-widget-style{
     border: 6px solid #f3f3f3;
    border-top: 6px solid #4CAF50;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  .identitas{
   
    top: 10px; 
   
   
    padding: 10px 15px;
    border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.1); 
    display: flex;
        align-items: center; 
        gap: 10px;
  }

  .logout{
    padding: 5px 10px; 
    border: none;
     background: #d9534f; 
     color: white;
      border-radius: 5px; 
      cursor: pointer;
  }