.camera {
    max-width: 400px;
    margin: auto;
}

.camera div{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    background-color: black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.container-absen {
    width: max-content;
    margin: auto;
    margin-top: 6%;
    padding: 40px 30px;
    background-color: #7cb438db;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.input-absen input {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #3d5a1a9a;
    border: 1px solid #3d5a1a9a;
    color: white;
}

.input-absen input::placeholder {
    color: rgba(255, 255, 255, 0.803);
    border: #3d5a1a9a;
}

.input-absen input:focus {
    border: 1px solid #3d5a1a9a;
    outline: none;
}

.input-absen button {
    width: 100px;
    padding: 10px 20px ;
    border-radius: 10px;
    background-color: #3d5a1a9a;
    color: white;
    border: 1px solid #3d5a1a9a;
    box-shadow: 0 0 25px #3d5a1a9a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input-absen button:hover {
    box-shadow: 0 0 40px #3d5a1ab4;
    scale: 1.1;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.input-absen {
    gap: 20px;
}

select {
    width: 290px;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #3d5a1a9a;
    border: 1px solid #3d5a1a9a;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

select:focus {
    border: 1px solid #3d5a1a9a;
    outline: none;
}

/*camera*/
.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#video {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  margin-bottom: 10px;
}

#canvas {
  display: none;
}

.input-absen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


